@model IEnumerable<Piofthings.Data.Models.Device>

@{
    ViewBag.Title = "My devices";
}
@Html.Partial("_HeaderPartial")
<div class="container">
    <br/>    
    <p>
        @Html.ActionLink("Register New device", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink((string.IsNullOrEmpty(item.Name)? "Details": item.Name), "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>